.UINode {
    -fx-arc-height: 30;
    -fx-arc-width: 30;
    -fx-fill: white;
    -fx-stroke: blue;
    -fx-stroke-width: 5;
}

.Circuit {
    -fx-stroke: orange;
}

.HWBlock {
    -fx-stroke: red;
}

.ROSNode {
    -fx-stroke: blue;
}


.UIEndpoint {
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.Joint {
    -fx-fill: green;
}

.ROSPort {
    -fx-fill: red;
}

.ROSPortOut {
    -fx-fill: yellow;
}

.SelectionRectangle {
    -fx-fill: rgba(0,0,255,0.07);
    -fx-stroke: blue;
    -fx-stroke-width: 1;
}